/** customizations **/
#header {
    /*background-color: gray;*/
}
#header form {
    display: inline;
}
#header input.text{
    width: 125px;
    padding: 2px;
}
#spinner {
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;
    background-image: url(../img/ajax-loader.gif);
    z-index: 10;
}

#spaces input{
    padding: 2px;
}

#sidebar {
}
#content {
    display: inline;
}
#main {
    border:1px solid #BBBBBB;
    padding: 5px;
}
#actions {
    /** display: inline; **/
    float: right;
    width: 200px;
    margin: 10px 10px 10px 10px;
}

#actions ul {
    width:200px;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

#actions button.text {
    display: inline;
}

code{
    white-space: pre-wrap;
}

#tree {
    margin-top: 30px;
}

.macro_error {
    background: none repeat scroll 0 0 #FBE3E4;
    color: #8A1F11;
    border: 2px solid #FBC2C4;
    margin-bottom: 1em;
    padding: 0.8em;
}

#toolbar {
    text-align: right;
    height: 20px;
    margin-top: 1em;
}

#toolbar .ui-button {
    height: 20px;
}

#toolbar .ui-icon {
    margin-top: -9px;
}

#toolbar .ui-button-text {
    padding: 0em 1em 0em 2.1em;
    line-height: 20px;
}
