#search form {
    display: inline;
}
#search input.text {
    width: 200px;
    padding: 2px;
}

#spinner {
    display: block;
    width: 16px;
    height: 16px;
    background-image: url(../img/ajax-loader.gif);
}
